<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<type name="Magento\Quote\Model\Quote">
		<plugin name="yotpo_loyalty_plugin_quote_model_quote" type="Yotpo\Loyalty\Plugin\Quote\Model\Quote"/>
	</type>
</config>
