<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Yotpo_Loyalty::configuration" title="Loyalty &amp; Rewards" module="Yotpo_Loyalty" sortOrder="20" parent="Yotpo_Core::configuration" action="adminhtml/system_config/edit/section/yotpo_loyalty" resource="Yotpo_Loyalty::config" />
    </menu>
</config>
