<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Yotpo_Loyalty::configuration" title="Yotpo" module="Yotpo_Loyalty" sortOrder="40" action="adminhtml/system_config/edit/section/yotpo_loyalty" resource="Yotpo_Loyalty::config"/>
    </menu>
</config>
