<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<tab id="yotpo" translate="label" sortOrder="400">
			<label>Yotpo</label>
		</tab>
		<section id="yotpo_loyalty" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="20" translate="label">
			<label>Loyalty &amp; Referrals</label>
			<tab>yotpo</tab>
			<resource>Yotpo_Loyalty::config</resource>
			<group id="general_settings" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
				<label>General Settings</label>
				<field id="swell_direct_login_link" translate="label" type="button" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
					<frontend_model>Yotpo\Loyalty\Block\Adminhtml\System\Config\DirectLink</frontend_model>
				</field>
				<field id="module_version" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Module Version</label>
					<frontend_model>Yotpo\Loyalty\Block\Adminhtml\System\Config\ModuleVersion</frontend_model>
				</field>
				<field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
					<label>Enabled</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="swell_guid" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
					<label>GUID</label>
				</field>
				<field id="swell_api_key" translate="label" type="obscure" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
					<label>API Key</label>
					<backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
				</field>
			</group>
			<group id="sync_settings" showInDefault="1" showInStore="0" showInWebsite="0" sortOrder="20" translate="label">
				<label>Sync Settings (Advanced)</label>
				<field id="swell_sync_limit" translate="label comment" type="text" sortOrder="50" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
					<label>Sync Limit</label>
					<comment>Note: Setting a high sync limit (or no limit) may result in a high server load (0=no limit).</comment>
				</field>
				<field id="swell_sync_max_tryouts" translate="label comment" type="text" sortOrder="60" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
					<label>Sync Max-Tryouts</label>
					<comment>In case something went wrong during the process, it'll retry until it reaches this number (0 = no limit!).</comment>
				</field>
				<field id="keep_yotpo_sync_queue" translate="label comment" type="select" sortOrder="70" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
					<label>Keep sync history...</label>
					<source_model>Yotpo\Loyalty\Model\Adminhtml\Source\KeepQueue</source_model>
					<comment>For how long should we keep old sent/failed items on the database (`yotpo_sync_queue`)?</comment>
				</field>
			</group>
			<group id="advanced" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="30" translate="label">
				<label>Advanced</label>
				<field id="swell_instance_id" translate="label comment" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
					<label>Checkout Variable Instance Id</label>
					<comment>Your checkout module instance id</comment>
				</field>
				<field id="delete_used_coupons" translate="label comment" type="select" sortOrder="60" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
					<label>Delete used coupons and price rules</label>
					<source_model>Yotpo\Loyalty\Model\Adminhtml\Source\DeleteUsedCoupons</source_model>
				</field>
				<field id="use_yotpo_js_sdk" translate="label comment" type="select" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
					<label>Use Yotpo JS SDK</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
					<comment><![CDATA[When set to 'Yes', <b>https://cdn-loyalty.yotpo.com/loader/{GUID}.js</b> would be loaded on all pages.]]></comment>
				</field>
				<field id="load_yotpo_snippet" translate="label comment" type="select" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
					<label>Load Yotpo Snippet</label>
					<source_model>Yotpo\Loyalty\Model\Adminhtml\Source\LoadJsSnippet</source_model>
					<comment>Select where to load Yotpo's snippet and the "customer-identification" div (using an AJAX call to the module's session/snippet API endpoint).</comment>
					<depends>
                        <field id="use_yotpo_js_sdk">0</field>
                    </depends>
				</field>
				<field id="cart_page_full_action_name" translate="label comment" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
					<label>Cart Page - Full Action Name</label>
					<comment>If your site is using a custom cart page that has a different full-action-name than "checkout_cart_index", please define it here.</comment>
					<depends>
                        <field id="load_yotpo_snippet">checkout_cart</field>
                    </depends>
				</field>
				<field id="checkout_page_full_action_name" translate="label comment" type="text" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
					<label>Checkout Page - Full Action Name</label>
					<comment>If your site is using a custom checkout page that has a different full-action-name than "checkout_index_index", please define it here.</comment>
					<depends>
                        <field id="load_yotpo_snippet" separator="|">checkout_cart|checkout</field>
                    </depends>
				</field>
				<field id="load_yotpo_snippet_path_patterns" translate="label comment" type="textarea" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
					<label>Yotpo Snippet - Allowed URL Path patterns</label>
					<comment><![CDATA[Add one or more Regex patterns (separated by new lines), that will be used for determining on which URL paths (Request URIs) the snippet will be loaded (include delimiters of your choice).<br><b>This is an advanced option. Be sure you know what you're doing.</b><br>*With the predefined example the snippet will be loaded on the default checkout page.]]></comment>
					<depends>
                        <field id="load_yotpo_snippet">url_path_patterns</field>
                    </depends>
				</field>
				<field id="swell_merchant_info_confirm" translate="label" type="button" sortOrder="1000" showInDefault="1" showInWebsite="1" showInStore="1">
					<frontend_model>Yotpo\Loyalty\Block\Adminhtml\System\Config\MerchantInfoConfirm</frontend_model>
				</field>
			</group>
			<group id="debug" showInDefault="1" showInWebsite="0" showInStore="0" sortOrder="40" translate="label">
				<label>Debug</label>
				<field id="debug_mode_active" translate="label comment" type="select" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
					<label>Debug Mode Enabled</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
					<config_path>yotpo_loyalty/general_settings/debug_mode_active</config_path>
					<comment>Enable debug mode in order to log all Yotpo processes (log file: var/log/yotpo_loyalty.log).</comment>
				</field>
				<field id="download_debug_items" translate="label" type="button" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="0">
					<frontend_model>Yotpo\Loyalty\Block\Adminhtml\System\Config\DownloadDebugItems</frontend_model>
					<comment>Download debug log and info for Yotpo support.</comment>
				</field>
			</group>
		</section>
	</system>
</config>
